#gamePage {
  display: flex;
  flex-wrap: wrap;
}

#flex-items {
  background-color: #0b2b26;
  width: 15%;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #8eb69b;
  margin-left: auto;
  margin-right: auto;
}

#flex-items a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#flex #gameTitle {
  font-size: larger;
  background-color: #0b2b26;
  border-top: 3px solid black;
  color: #daf1de;
  text-align: center;
}
#oneGamePage .card {
  background-color: #051f20;
  color: #daf1de;
}
#oneGamePage .card .card {
  background-color: #0b2b26;
}

#oneGamePage .card .card-body .card-title {
  color: white;
}
#oneGamePage .card .card-body .card-title a {
  color: #daf1de;
}

#oneGamePage .card .card .card-title {
  color: #8eb69b;
}

#pageTitle {
  color: #daf1de;
  text-align: center;
}

#left-right-btn #left-btn {
  float: left;
  margin-left: 5%;
}
#left-right-btn #right-btn {
  float: right;
  margin-right: 5%;
}

#userLogin {
  margin-left: 34%;
  margin-right: 34%;
}
