.TopBar {
  width: 100%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1%;
  background-color: #0b2b26;
  border-bottom-style: solid;
  border-color: black;
  margin-bottom: 10px;
}
.search {
  display: flex;
}
.TopBar input {
  flex-grow: 1;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 1%;
}

#root .card {
  background-color: #235347;
  color: aliceblue;
  border-style: solid;
}

#root .card .card {
  background-color: #350867;
  color: aliceblue;
  border-style: solid;
  border-color: #212529;
}

#root .SearchError .card {
  width: 70%;
  height: fit-content;
  text-align: center;
  background-color: #350867;
  border-style: solid;
  border-color: aliceblue;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 5px;
}
#root .SearchButton {
  width: 70%;
  height: 200px;
}
#root .SearchButton button {
  width: 100%;
  height: 1;
  flex-grow: 1;
  text-align: center;
  background-color: #650867;
  border-color: aliceblue;
  color: aliceblue;
}

body {
  background-color: #051f20;
}
